[defaults]
inventory = ./inventories/development
roles_path = ./roles
host_key_checking = False
# vault_password_file = ./.vault_pass.txt

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False